.wrapper{
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
}
.avatar{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    flex: 1;
    margin-left: 12px;
}
.name{
    font-size: 1.4rem;
    font-weight: 600;
}

.check{
    margin-left: 6px;
    font-size: 1.2rem;
    color: #20d5ec;
}

.description{
    font-size: 1.2rem;
    color: #888;
}