.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }
}

//Button style
.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background-color: #e0244f;
    }
}

.outline {
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 /6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

// Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
