@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-style: normal;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: inherit;
    display: block;
}
